<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% if  page_title %}
    {{ page_title }}
    {% endif %} {{ site_name }} {% endblock %}</title>
    <meta name="keywords" content="{{ meta_keywords }}">
    <meta name="description" content="{{ meta_description }}">
    <link rel="icon" href="">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    {% block site_wrapper %}{% endblock %}
</body>
</html>